@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply box-border;
	}

	html::-webkit-scrollbar {
		@apply hidden;
	}

	html,
	body {
		@apply bg-gray-300 w-full h-full m-0 box-border relative overflow-auto;
	}

	a {
		@apply no-underline block text-black;
	}

	button {
		@apply outline-none border-none;
	}
}

@layer components {
	#root {
		@apply h-full w-full;
	}

	.input,
	.passwordInput,
	.emailInput,
	.nameInput,
	.textarea {
		@apply border-none shadow-lg border-none bg-white rounded h-12 w-full outline-none px-12 text-base;
	}

	.textarea {
		@apply py-4 px-6 h-72 rounded-2xl;
	}

	.primaryButton {
		@apply cursor-pointer bg-teal-400 rounded-2xl py-5 font-semibold text-xl w-4/5 mx-auto flex items-center justify-center;
	}

	.removeIcon {
		@apply cursor-pointer absolute top-2 right-3;
	}

	.editIcon {
		@apply cursor-pointer absolute top-2 right-10;
	}

	.pageContainer,
	.offers,
	.profile,
	.listingDetails,
	.category,
	.explore {
		@apply m-4;
	}

	.loadingSpinnerContainer {
		@apply fixed top-0 right-0 bottom-0 left-0 bg-black opacity-50 z-50 flex justify-center items-center;
	}

	.loadingSpinner {
		@apply w-16 h-16 border-2 border-solid border-teal-400 rounded-full animate-spin;
	}

	.navbar {
		@apply fixed left-0 bottom-0 right-0 bg-white z-50 flex justify-center items-center h-24 border-t-2 border-gray-300;
	}

	.pageHeader {
		@apply text-4xl font-extrabold;
	}

	.navbarNav {
		@apply w-full mt-3 z-50;
	}

	.navbarListItems {
		@apply m-0 p-0 flex z-50 justify-evenly items-center;
	}

	.navbarListItem {
		@apply cursor-pointer z-50 flex flex-col items-center;
	}

	.navbarListItemName,
	.navbarListItemNameActive {
		@apply mt-1 text-sm z-50 font-semibold text-gray-500;
	}

	.navbarListItemNameActive {
		@apply text-teal-400 z-50;
	}

	.passwordInputDiv {
		@apply relative;
	}

	.showPassword {
		@apply cursor-pointer absolute -top-1 right-1 p-4;
	}

	.forgotPasswordLink {
		@apply cursor-pointer text-teal-400 font-semibold text-right;
	}

	.signInBar,
	.signUpBar {
		@apply mt-12 flex justify-between items-center;
	}

	.signInButton,
	.signUpButton,
	.signInText,
	.signUpText {
		@apply cursor-pointer;
	}

	.signInText,
	.signUpText {
		@apply text-2xl font-bold;
	}

	.signInButton,
	.signUpButton {
		@apply flex justify-center items-center w-12 h-12 bg-teal-400 rounded-full;
	}

	.socialLogin {
		@apply mt-16 flex flex-col items-center;
	}

	.socialIconDiv {
		@apply cursor-pointer flex justify-center items-center p-3 m-6 w-12 h-12 bg-white rounded-full shadow-lg;
	}

	.socialIconImg {
		@apply w-full;
	}

	.registerLink {
		@apply mt-16 text-teal-400 font-semibold text-center mb-12;
	}

	.exploreHeading,
	.exploreCategoryHeading {
		@apply font-bold;
	}

	.exploreCategoryHeading {
		@apply mt-12;
	}

	.swiper-pagination-bullet-active {
		@apply !bg-white;
	}

	.swiperSlideDiv {
		@apply relative w-full h-full;
	}

	.swiperSlideImg {
		@apply w-full object-cover;
	}

	.swiperSlideText {
		@apply text-white absolute top-4 left-0 font-semibold max-w-full text-lg bg-black opacity-80 p-2 rounded-r-lg;
	}

	.swiperSlidePrice {
		@apply text-black absolute bottom-9 left-1 font-semibold max-w-full bg-white py-1 px-2 rounded-2xl;
	}

	.exploreCategories {
		@apply flex;
	}

	.exploreCategories a {
		@apply w-1/2;
	}

	.exploreCategoryImg {
		@apply w-full rounded-2xl object-cover px-2;
	}

	.exploreCategoryName {
		@apply font-medium text-left;
	}

	.category {
		@apply mb-40;
	}

	.categoryListings {
		@apply p-0;
	}

	.categoryListing {
		@apply flex justify-between items-center mb-4 relative;
	}

	.categoryListingLink {
		@apply contents;
	}

	.categoryListingImg {
		@apply w-1/3 h-full rounded-2xl object-cover;
	}

	.categoryListingDetails {
		@apply w-2/3;
	}

	.categoryListingLocation {
		@apply font-semibold text-xs opacity-80 mb-0;
	}

	.categoryListingName {
		@apply font-semibold text-xl m-0;
	}

	.categoryListingPrice {
		@apply mt-2 font-semibold text-lg text-teal-400 mb-0 flex items-center;
	}

	.categoryListingInfoDiv {
		@apply flex justify-between;
	}

	.categoryListingInfoText {
		@apply font-medium text-xs;
	}

	.loadMore {
		@apply cursor-pointer w-32 mx-auto text-center py-1 px-2 bg-black text-white font-semibold rounded-2xl opacity-70 mt-8;
	}

	.listingDetails {
		@apply mb-40;
	}

	.shareIconDiv {
		@apply cursor-pointer fixed top-2 right-2 z-10 bg-white rounded-full w-12 h-12 flex justify-center items-center;
	}

	.listingName {
		@apply font-semibold text-2xl mb-2;
	}

	.listingLocation {
		@apply mt-0 font-semibold;
	}

	.discountPrice {
		@apply py-1 px-2 bg-black text-white rounded-2xl text-xs font-semibold inline;
	}

	.listingType {
		@apply py-1 px-2 bg-teal-400 text-white rounded-2xl inline font-semibold text-xs mr-4;
	}

	.listingDetailsList {
		@apply p-0 list-none;
	}

	.listingDetailsList li {
		@apply my-1 mx-0 font-medium opacity-80;
	}

	.listingLocationTitle {
		@apply mt-8 font-semibold text-xl;
	}

	.leafletContainer {
		@apply w-full h-48 overflow-x-hidden mb-40 z-10;
	}

	.linkCopied {
		@apply fixed top-2 right-16 z-20 bg-white rounded-2xl py-2 px-4 font-semibold;
	}

	.contactListingName {
		@apply -mt-4 mb-0 font-semibold;
	}

	.contactListingLocation {
		@apply mt-1 font-semibold;
	}

	.contactLandlord {
		@apply mt-8 flex items-center;
	}

	.landlordName {
		@apply font-semibold text-xl;
	}

	.messageForm {
		@apply mt-2;
	}

	.messageDiv {
		@apply mt-8 flex flex-col mb-16;
	}

	.messageLabel {
		@apply mb-2;
	}

	.profile {
		@apply mb-40;
	}

	.profileHeader {
		@apply flex justify-center items-center;
	}

	.logOut {
		@apply absolute right-2 cursor-pointer text-base font-semibold text-white bg-teal-400 py-1 px-3 rounded-2xl;
	}

	.profileDetailsheader {
		@apply flex justify-between;
	}

	.personalDetailsText {
		@apply font-semibold;
	}

	.changePersonalDetails {
		@apply cursor-pointer text-right font-semibold text-teal-400;
	}

	.profileCard {
		@apply bg-white rounded-2xl p-4 shadow-xl;
	}

	.profileDetails {
		@apply flex flex-col;
	}

	.profileName,
	.profileEmail,
	.profileAddress,
	.profileAddressActive,
	.profileEmailActive,
	.profileNameActive {
		@apply my-1 font-semibold w-full;
	}

	.profileNameActive {
		@apply bg-gray-300 rounded-lg shadow-sm pl-2;
	}

	.profileEmail,
	.profileAddress,
	.profileAddressActive,
	.profileEmailActive {
		@apply font-medium;
	}

	.profileEmailActive {
		@apply bg-gray-300 rounded-lg pl-2 shadow-sm;
	}

	.profileAddressActive {
		@apply bg-teal-400;
	}

	.createListing {
		@apply bg-white rounded-2xl py-1 px-4 shadow-lg mt-8 font-semibold flex justify-between items-center;
	}

	.listingText {
		@apply mt-12 font-semibold;
	}

	.lisitingsList {
		@apply p-0;
	}

	.formLabel {
		@apply font-semibold mt-4 block;
	}

	.formButtons {
		@apply flex;
	}

	.formButton,
	.formInput,
	.formInputAddress,
	.formInputName,
	.formInputSmall,
	.formInputFile,
	.formButtonActive {
		@apply py-4 px-12 bg-white font-semibold rounded-2xl text-base mt-2 mr-2 flex justify-center items-center;
	}

	.formButtonActive {
		@apply bg-teal-400 text-white;
	}

	.formInputSmall,
	.formInputFile {
		@apply mr-12 py-4 px-3 text-center;
	}

	.formInputName,
	.formInputAddress {
		@apply p-4 w-full;
	}

	.formPriceDiv {
		@apply flex items-center;
	}

	.formPriceText {
		@apply -ml-6 font-semibold;
	}

	.imagesInfo {
		@apply text-sm opacity-80;
	}

	.formInputFile {
		@apply w-full;
	}

	.formInputFile::-webkit-file-upload-button {
		@apply bg-teal-400 border-none text-white font-semibold py-2 px-3 rounded-2xl mr-4;
	}

	.createListingButton {
		@apply mt-20;
	}

	.offers {
		@apply mb-40;
	}

	.offerBadge {
		@apply py-1 px-2 bg-black text-white rounded-2xl ml-4 text-sm opacity-80;
	}
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
}

.exploreCategoryImg {
	min-height: 115px;
	height: 15vw;
}

.input,
.passwordInput,
.emailInput,
.nameInput,
.textarea {
	font-family: 'Montserrat', sans-serif;
}

@media (min-width: 1100px) {
	.input,
	.passwordInput,
	.emailInput,
	.nameInput,
	.textarea {
		padding: 0 5rem;
	}
}

@media (min-width: 1024px) {
	.pageContainer,
	.offers,
	.profile,
	.listingDetails,
	.category,
	.explore {
		margin: 3rem;
	}
}

.nameInput {
	margin-bottom: 2rem;
	background: url('./assets/svg/badgeIcon.svg') #ffffff 2.5% center no-repeat;
}

.emailInput {
	margin-bottom: 2rem;
	background: url('./assets/svg/personIcon.svg') #ffffff 2.5% center no-repeat;
}

.passwordInput {
	margin-bottom: 2rem;
	background: url('./assets/svg/lockIcon.svg') #ffffff 2.5% center no-repeat;
}

@media (min-width: 1024px) {
	.signInBar,
	.signUpBar {
		justify-content: start;
	}
}

@media (min-width: 1024px) {
	.signInButton,
	.signUpButton {
		margin-left: 3rem;
	}
}

@media (min-width: 1217px) {
	.explore {
		margin-bottom: 10rem;
	}
}
@media (max-height: 536) {
	.explore {
		margin-bottom: 10rem;
	}
}

.swiper-container {
	min-height: 225px;
	height: 23vw;
}

@media (min-width: 1024px) {
	.swiperSlideText {
		font-size: 1.75rem;
	}
}

@media (min-width: 1024px) {
	.swiperSlidePrice {
		font-size: 1.25rem;
	}
}

@media (min-width: 1024px) {
	.categoryListingImg {
		width: 19%;
		height: 217px;
	}
}

@media (min-width: 1024px) {
	.categoryListingDetails {
		width: 79%;
	}
}

.categoryListingInfoDiv {
	max-width: 275px;
}

@media (min-width: 1024px) {
	.leafletContainer {
		height: 400px;
	}
}

.logOut {
	font-family: 'Montserrat', sans-serif;
}

.profileDetailsHeader {
	max-width: 500px;
}

.profileCard {
	max-width: 500px;
}

.createListing {
	max-width: 500px;
}

.formInputName {
	max-width: 326px;
}

.formInput,
.formInputAddress,
.formInputName,
.formInputSmall,
.formInputFile {
	border: none;
	outline: none;
	font-family: 'Montserrat', sans-serif;
}

.formInputAddress {
	max-width: 326px;
}
